@use '@motionui/ui-lib/styles/spacing' as spacing;
@use '@motionui/ui-lib/styles/color' as color;

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: spacing.$px-per-unit * 4;
}

.task-input {
  flex: 1;
}

.task-filters {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: spacing.$px-per-unit * 4;
}

.loading-spinner {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: spacing.$px-per-unit * 4;
}
