@use '@motionui/ui-lib/styles/spacing' as spacing;
@use '@motionui/ui-lib/styles/color' as color;
@use '../scss/common.scss' as common;

:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout {
  width: common.$user-auth-card-width;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: spacing.$px-per-unit * 4;
}
