@use '@motionui/ui-lib/styles/spacing' as spacing;
@use '@motionui/ui-lib/styles/color' as color;

::ng-deep .mat-mdc-button-base .mat-icon.openai-icon {
  min-height: unset;
}

.role-form {
  width: 100%;
  padding-top: spacing.$px-per-unit * 2;
  display: flex;
  flex-direction: column;
  gap: spacing.$px-per-unit * 4;
}

.form-field {
  flex: 1;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: spacing.$px-per-unit * 2;

  button {
    width: 50%;
    flex: 1;
  }
}

.openai-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinning {
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
