<mat-card class="login" appearance="outlined">
  <mat-card-header>
    <mat-card-subtitle>
      <h3>Login</h3>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form class="login-form" (submit)="onSubmit($event)">
      <!-- email -->
      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input matInput placeholder="user@company.com" type="email" autocomplete="email" [field]="loginForm.email" />
        @if (loginForm.email().value()) {
          <button
            type="button"
            matSuffix
            matIconButton
            aria-label="Clear"
            tabindex="-1"
            (click)="loginForm.email().value.set('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        }
        <!-- https://github.com/angular/components/issues/32398 -->
        @if (loginForm.email().touched() && loginForm.email().invalid()) {
          @for (error of loginForm.email().errors(); track error.kind) {
            <mat-error>{{ error.message }}</mat-error>
          }
        }
      </mat-form-field>

      <!-- password -->
      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Enter your password"
          type="password"
          autocomplete="current-password"
          [field]="loginForm.password"
        />
        @if (loginForm.password().value()) {
          <button
            type="button"
            matSuffix
            matIconButton
            aria-label="Clear"
            tabindex="-1"
            (click)="loginForm.password().value.set('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        }
        @if (loginForm.password().touched() && loginForm.password().invalid()) {
          @for (error of loginForm.password().errors(); track error.kind) {
            <mat-error>{{ error.message }}</mat-error>
          }
        }
      </mat-form-field>

      <div class="actions">
        <button type="submit" matButton="filled" color="primary" [disabled]="loginForm().invalid()">Login</button>
        <button type="button" matButton="outlined" color="second" (click)="onClickCancel()">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
