@use '@motionui/ui-lib/styles/spacing' as spacing;
@use '@motionui/ui-lib/styles/color' as color;
@use '../scss/common.scss' as common;

:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration {
  width: common.$user-auth-card-width;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: spacing.$px-per-unit * 4;
}

.form-field {
  flex: 1;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: spacing.$px-per-unit * 2;

  button {
    width: 50%;
    flex: 1;
  }
}
